# Entornos y secretos
.env
.env.local
.env.*.local

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Dependencias 
node_modules/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Supabase CLI local
supabase/.branches
supabase/.temp